@media (max-width:600px){
    .Image-Tour-imgs::before{
        display: none;
    }
    .Image-Tour-imgs::after{
        display: none;
    }
    .home3-logo-nd-privacy-policy{
        flex-direction: column;
    }
    .home3-What-We-Offer-main-tit , .home3-What-We-Offer-main-tit-1, .Home3-The-pets-lives-day-main-tit{
        font-family: "Nunito", serif;
        font-size: 35px;
        font-weight: 800;
        line-height: 50px;
        color: black;
    }
    .home3-What-We-Offer-card{
        width: 90%;
        margin: 30px auto 0px;
        padding: 20px 10px;
    }
    .home3-What-We-Offer-tit-wraper{
        width: 80%;
    }
    .About-DC-Care-cont-main-tit{
        font-family: "Nunito", serif;
        font-size: 40px;
        font-weight: 800;
        line-height: 55px;
        margin: 20px 0px;
    }
    .Home-3-banner-sec{
        background-position: -900px 0px;
    }
    .Home3-Testimonial-card-profile{
        width: 165px;
        height: 165px;
    }
    .home3-date-author-comment{
        flex-wrap: wrap;
        gap: 30px;
    }
    .home3-blog-quated-tit{
        padding: 0px 3rem;
        text-align: center;
    }
    .home3-blog-quated-tit::before, .home3-blog-quated-tit::after{
        right: 0px;
    }


    .home3-blog-detail-page-main-tit{
        font-family: "Nunito", serif;
        font-size: 40px;
        font-weight: 800;
        line-height: 55px;
    }
    .home3-side-bar-imgs1{
        width: 80%;
        margin: 3rem auto;
    }
    .home3-side-bar-imgs2{
        width: 80%;
        margin: 3rem auto;
    }

    .PetsDetailPage-Knowmore-about-ul-checks > li{
        gap: 20px;
    }

    .PetsDetailPage-Knowmore-about-card-btn{
        height: 58px;
        font-size: 21px;
        font-weight: 600;
        line-height: 44px;
    }

    .home3-contact-us-form-text-area{
        height: 150px;
    }

    .Pets-Detail-Page-Know-more-contact .home3-contact-us-form-card-tit{
        font-size: 30px;
        font-weight: 800;
        line-height: 40px;
    }

    .home3-Blog-DetailPage-SideBar-wraper::before{
        left: 40px;
    }

    .blog-detail-comment-form{
        margin: 2rem auto;
        border-radius: 0px 0px 20px 20px;
    }
    .home3-blog-blog-sidebar{
        width: 90%;
        padding: 2rem 3rem;
        display: block;
        margin: 0rem auto;
    }
    .home2-SafeaAndGoodHands-cont-small-card{
        flex-direction: column;
    }
    .quant-cart-ng-like-btn{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .Shop-Details-prodouct-cart-img-wrap{
        margin-bottom: 3rem;
    }

    .home3-blog-detail-page-img-nd-form{
        margin: 2rem auto;
        width: 90%;
        flex-direction: column;
    }

    .home3-blog-side-bar-recent-posts{
        width: 90%;
        margin: 1rem auto;
        padding: 20px 20px;
    }
    .Home3-blog-comments-card{
        width: 90%;
        margin: 2rem auto;
    }
    .Home3-Detail-Banner-main-tit{
        font-size: 40px;
        font-weight: 800;
        line-height: 45px;
    }
    .Home-3-banner-main-tit{
        font-size: 48px;
        font-weight: 900;
        line-height: 56px;
    }
    .home3-What-We-Offer-card-tit{
        font-size: 22px;
        line-height: 43px;
        margin: 10px 0px 20px;
    }
    .home3-What-We-Offer-card-icon{
        width: 80px;
        height: 80px;
        padding: 1rem;
    }
    .adopt-pet-img{
        width: 50px;
    }
    .Know-more-about-Berry-cont-main-tit{
        font-size: 35px;
        line-height: 45px;
    }
    .home2-AboutUsPage-cont-tit , .About-DC-Care-cont-main-tit{
        font-size: 35px;
        line-height: 45px;
    }
    .What-Our-Customer-Say-swiper-card::before{
        width: 45px;
        height: 45px;
        top: 20px;
        right: 20px;
    }
    .footer-contact-detail{
        gap: 10px;
    }

    .Providing-the-Best-Service-sec-cont-tit{
        text-align: center;
    }
    
     .What-Our-Customer-Say-swiper-name{
        margin: 0px;
     }

     .Providing-the-Best-Service-sec-cont > p{
        text-align: center;
     }

     .What-Our-Customer-Say-swiper-position{
        font-size: 18px;
     }


    .What-Our-Customer-Say-swiper-card > p{
        margin: 10px 0px;
    }
    .What-Our-Customer-Say-swiper-top{
        gap: 10px;
        align-items: center;
    }

    .About-DC-Care-main-img{
        width: 90%;
        margin: 0rem auto;
    }

    .About-DC-Care-cont-wrap{
        width: 90%;
        margin: 0rem auto;
        text-align: center;
    }
    .banner-btn-wraper{
        justify-content: center;
    }
    .Home3-The-pets-lives-day-cont-wrap{
        width: 90%;
        margin: 0rem auto;
        text-align: center;
    }
    .Home3-The-pets-lives-day-main-img{
        width: 90%;
        margin: 0rem auto;
    }
    
    .Home-3-banner-sec .banner-btn-wraper{
        justify-content: start;
    }
    .Know-more-about-Berry-cont-ul-checks > li > h4{
        font-size: 24px;
        font-weight: 800;
        line-height: 35px;
        margin-bottom: 15px;
    }
    .blog-comment-likes-nd-replays{
        font-size: 15px;
    }
    .comment-person-name{
        font-size: 22px;
    }
    .About-DC-Care-cont-wrap{
        padding: 3rem 0rem;
    }

    .Home3-Testimonial-sec .swiper-button-next, .swiper-button-prev{
        width: 40px;
        height: 40px;
    }
    .Home3-Testimonial-sec .swiper-button-prev:after, .swiper-button-next:after{
        font-size: 16px;
    }

    .About-DC-Care-cont-mini-tit::before{
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .Home3-The-pets-lives-day-mini-tit::before{
        left: 50%;
        transform: translateX(-50%);
    }
    .home-3-blog-author-name-nd-date p{
        font-size: 14px;
        padding-left: 25px;
    }
    .home-3-blog-author-name-nd-date > div > h4{
        font-size: 14px;
        font-weight: 800;
        line-height: 26px;
    }
    .home3-privacy-policy a{
        font-size: 14px;
    }

    .What-Our-Customer-Say-star-img{
        width: 50%;
    }

    .What-Our-Customer-Say-swiper-card{
        padding: 20px;
    }



}